@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body {
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Open Sans";
  font-weight: 400;
  background-color: #fff;
  line-height: 1;
  color: #000;
  font-size: 12px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%;
  border: none; }

form {
  margin: 0; }

input[type="submit"] {
  cursor: pointer;
  border: none; }

input {
  border: none; }

textarea {
  resize: none;
  border: none;
  -webkit-appearance: none;
  overflow: auto; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1; }

::-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-moz-placeholder {
  color: inherit;
  opacity: 1; }

:-ms-input-placeholder {
  color: inherit;
  opacity: 1; }

*, *:focus {
  outline: none !important; }

label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

*:before, *:after {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

input, textarea, input:before, textarea:before, input:after, textarea:after {
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial; }

:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease; }

button {
  border: none;
  cursor: pointer; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: none; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.inner::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -4px; }

.inner > * {
  display: inline-block;
  vertical-align: middle; }

.grey-bg {
  background: #f6f8f8; }

.orange-text {
  color: #f26523; }

.blue-bg {
  background: #30436b; }

.sub {
  font-size: 12px;
  color: inherit; }

.blue-text {
  color: #30436b;
  font-weight: 600; }

.container {
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px; }

.row {
  margin: 0 -10px; }

.icon {
  display: inline-block;
  margin-bottom: 10px; }

.form-control {
  display: inline-block;
  height: 57px;
  padding: 0 15px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  color: #7e878d; }

.form-btn {
  display: inline-block;
  height: 57px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  background: #f26523;
  text-transform: uppercase;
  padding: 0 27px; }
  .form-btn:hover {
    background: #ca5219; }

.simple-text-block {
  padding: 27px 0;
  font-size: 18px;
  color: #5a6464;
  border-bottom: 1px solid #e4ebec; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  border: 1px solid transparent;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  font-size: 16px;
  padding: 0 25px; }
  .btn.white-btn {
    border-color: #fff;
    color: #fff; }
    .btn.white-btn:hover {
      background: #fff;
      color: #30436b; }
  .btn.orange-btn {
    border-color: #f26523;
    color: #f26523; }
    .btn.orange-btn:hover {
      background: #f26523;
      color: #fff; }

.header {
  height: 89px;
  width: 100%;
  background: #fff; }
  .header .logo {
    float: left;
    padding-top: 15px; }
  .header .header-nav {
    float: right;
    margin-top: 25px; }
    .header .header-nav li {
      display: inline-block;
      margin-right: 25px; }
      .header .header-nav li a {
        font-size: 16px; }
        .header .header-nav li a:hover {
          color: #f26523; }
        .header .header-nav li a span {
          margin-left: 15px; }

.bag-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -70px;
  width: 35px;
  height: 33px; }

.build-ic {
  background-image: url(../img/sprite.png);
  background-position: -105px 0px;
  width: 27px;
  height: 35px; }

.child-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 35px;
  height: 35px; }

.hands-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -35px;
  width: 35px;
  height: 34px; }

.house-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px 0px;
  width: 35px;
  height: 34px; }

.human-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px -70px;
  width: 29px;
  height: 30px; }

.hummer-ic {
  background-image: url(../img/sprite.png);
  background-position: -70px -34px;
  width: 35px;
  height: 34px; }

.museum-ic {
  background-image: url(../img/sprite.png);
  background-position: -35px 0px;
  width: 35px;
  height: 35px; }

.scales-ic {
  background-image: url(../img/sprite.png);
  background-position: 0px -35px;
  width: 35px;
  height: 35px; }

.search-ic {
  background-image: url(../img/sprite.png);
  background-position: -105px -35px;
  width: 19px;
  height: 19px; }

.inner {
  height: -webkit-calc(100vh - 80px);
  height: calc(100vh - 80px);
  background: url("../img/inner-bg.jpg") no-repeat top center;
  background-size: cover;
  text-align: center; }
  .inner .inner-block {
    color: #fff; }
    .inner .inner-block h1 {
      font-size: 72px;
      font-weight: 700;
      margin-bottom: 30px; }
    .inner .inner-block > span {
      font-size: 28px;
      font-weight: 300; }
    .inner .inner-block .inner-form {
      margin-top: 40px;
      padding: 25px 37px;
      background: rgba(0, 0, 0, 0.45); }
      .inner .inner-block .inner-form .first-form .form-control {
        width: 325px; }
      .inner .inner-block .inner-form input + input, .inner .inner-block .inner-form select + input {
        margin-left: 4px; }

.service-wrap {
  padding: 55px 0 70px 0;
  overflow: hidden; }
  .service-wrap .service-item {
    float: left;
    padding: 0 10px;
    width: 33.3333%;
    height: 180px;
    margin-bottom: 30px; }
    .service-wrap .service-item .title {
      color: #f26523;
      font-size: 20px; }
    .service-wrap .service-item p {
      width: 63%;
      font-size: 16px;
      margin-top: 15px; }

.details {
  font-size: 24px;
  font-weight: 600; }
  .details a {
    color: #515a60; }

.category-wrap {
  padding: 60px 0 75px 0;
  overflow: hidden; }
  .category-wrap > .container > .title {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    text-align: center; }
  .category-wrap .news-row {
    margin: 50px 0;
    overflow: hidden; }
  .category-wrap .news-post {
    width: 33.3333%;
    float: left; }
    .category-wrap .news-post + .news-post {
      padding-left: 25px; }
    .category-wrap .news-post .news-content {
      background: #fff;
      border-top: 6px solid #90bed5;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      padding: 20px; }

.law-slick {
  overflow: hidden;
  padding: 20px 0 70px 0; }
  .law-slick .law {
    display: inline;
    overflow: hidden;
    height: 60px;
    border-top: 2px solid #f6f8f8;
    border-bottom: 2px solid #f6f8f8;
    padding: 10px 0; }
    .law-slick .law a {
      font-size: 16px;
      font-weight: 600;
      color: #f26523;
      margin-right: 55px; }

.slick-arrow {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  color: transparent;
  height: 30px;
  width: 30px; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-arrow::before, .slick-arrow::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 4px;
  background: #f26523;
  position: absolute; }

.slick-prev::before {
  top: -30px;
  left: -3px;
  -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
          transform: rotate(-38deg); }

.slick-prev::after {
  bottom: 71px;
  right: -6px;
  -webkit-transform: rotate(38deg);
      -ms-transform: rotate(38deg);
          transform: rotate(38deg); }

.slick-next::before {
  top: -30px;
  right: 0px;
  -webkit-transform: rotate(38deg);
      -ms-transform: rotate(38deg);
          transform: rotate(38deg); }

.slick-next::after {
  bottom: 71px;
  left: -9px;
  -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
          transform: rotate(-38deg); }

.category-btn {
  text-align: center; }
  .category-btn .btn {
    margin: 0 12px; }
